body {
    margin: 0;
    overflow: hidden; /* Щоб не було прокрутки */
    background-color: #000;
    font-family: 'Courier New', Courier, monospace;
}

#ui {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Щоб UI не заважав клікам */
    color: white;
}

#stats {
    position: absolute;
    top: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border: 1px solid #0f0;
}

#crosshair {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #0f0;
}

#msg {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2px;
}
